body{
    background-color: rgb(22, 22, 22);
    text-align: center;
    align-content: center;
}
p{
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    margin: auto;
    margin-top: 40px;
    max-width: 93%;
    padding: 20px;
    border-width: 0;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px 0px 45px rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont;
}
span{
    font-weight: bold;
}
.age{
    color: rgb(238, 44, 44);
}
.lrect{
    color: greenyellow;
}
.brect{
    color: rgb(111, 211, 250);
}
.ltri{
    color: goldenrod;
}
.htri{
    color: rgb(228, 85, 33);
}
