#u1{
    color: red
}
#h1p1{
    color: red;
}
#h1p2{
    color: blue;
}
h2{
    color: darkviolet;
}
#u2{
    color: #4da8a8;
}
#p1h{
    color: #b05b2c
}
#p1t{
    color: #4da8a8;
}
#p2pt1{
    color: #72026a;
}
#p2pt2{
    color: red;
}
#p2pt3{
    color: #03ff03;
}
#p3{
    color: #0e730e;
}
#p4pt1{
    color: #ccd417;
}
#p4pt2{
    color: rgb(255, 0, 242);
}
#p5pt1{
    color: #0e730e;
}
#p6pt1{
    color: #ccd417;
}
#p6pt2{
    color: rgb(255, 0, 242);
}