body{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
header{
    text-align: left;
    font-size: 50px;
    border-color: rgb(71, 69, 69);
    border-width: 10px; 
    border-style: solid;
    background-color: rgb(71, 69, 69);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    padding-left: 7px;
    font-weight: 550;
}
.nav1{
    font-size: 23px;
    float: right;
    width: 50%; 
    text-align: right;
    margin-top: 27px;
    margin-right: 30px;
}
fieldset{
    border-color: rgb(71, 69, 69);
    border-width: 7px; 
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    padding: 8px;
    background-color: rgb(71, 69, 69);
}
legend{
    color: gold;
    font-size: 25px;
    letter-spacing: 1px;
    border-style: solid;
    border-width: 5px;
    border-color: orangered white green ;
    border-radius: 15px;
    background-color: rgb(19, 18, 18);
    padding: 8px;
}
label{
    color: lawngreen;
}
input{
    border-radius: 20px;
    border-color: black;
    height: 20px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Apple Color Emoji, SF Pro Text;
}
input:hover{
    background-color: lightblue;
}
input:focus{
    background-color: lightseagreen;
    color: white;
}
input:active{
    background-color: yellow;
}
input:checked{
    background-color: yellow;
}
.div1{
    line-height: 35px;
    border-radius: 20px;
    padding: 12px;
    background-color: rgb(19, 18, 18);
}
table{
    border: 1px black;
    background-color: rgb(71, 69, 69);
    border-radius: 200px;
}
tr{
    background-color: #131212;
}
tbody{
    text-align: center;
}
thead{
    text-align: center; 
}
.lineheads{
    color: lawngreen;
}
td input{
    height: 30px;
    width: 90%;
}
button{
    letter-spacing: 1px;
}
.button1{
    font-size: 20px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Apple Color Emoji, SF Pro Text;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    height: 45px;
    width: 110px;
}
.button1:hover{
    font-size: 20px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Apple Color Emoji, SF Pro Text;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(255, 6, 39);
    background-color: red;
    color: white;
    height: 45px;
    width: 110px;
}
.button1:active{
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
.button2{
    font-size: 20px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Apple Color Emoji, SF Pro Text;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    height: 45px;
    width: 110px;
}
.button2:hover{
    font-size: 20px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Apple Color Emoji, SF Pro Text;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(6, 255, 6);
    background-color: green;
    color: white;
    height: 45px;
    width: 110px;
}
.button2:active{
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
.div3{
    font-size: 23px;
}
.div3 input{
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    border-color: red;
    width: 20px;
    height: 20px;
}
.part2div1{
    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(71, 69, 69);
    background-color: rgb(71, 69, 69);
    margin: 10px;
    padding: 5px;
    font-size: 25px;
}
.footer{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}